.nav {
  padding: 20px 50px;
  box-sizing: border-box;
  background-color: var(--black);
  border-top: 0.2px solid var(--red);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.nav_list {
  display: flex;
  justify-content: space-between;
}

.nav_link {
  position: relative;
}

.nav_notification {
  position: absolute;
  right: -10px;
  top: -10px;
}

.nav_dot {
  background-color: var(--red);
  width: 5px;
  height: 5px;
  border-radius: 3px;
  position: absolute;
  top: -6px;
  left: 20px;
}
